.content__container {
  max-width: 1140px;
  background-color: hsl(0, 0%, 95%);
  padding: 25px 45px;
  border-radius: 10px;
  margin: 0 auto;
}

.content__title {
  font-weight: 700;
  font-size: 44px;
}

.content__list {
  color: hsl(188, 96%, 19%);
  
}

.content__link {
  border-bottom: 2px solid hsl(188, 96%, 19%);
}

.content__item:not(:last-child) {
  margin-bottom: 10px;
}