.rule-one__image {
  display: inline-block;
  vertical-align: top;
}

.rule-one__text {
  display: inline-block;
  vertical-align: top;
  width: 490px;
}

.image-left {
  margin-right: 25px;    
  margin-bottom: 30px;
}

.text-right {
  width: 480px;
  margin-right: 35px;
}
